body{
  padding: 0;
  margin: 0;
}

#header{
  background-color: #FFFFFF;
  width: 100%;
  height: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#logo{
  display: flex;
 width: 3px;
 
}
#logo img{
  height: 67px;
  width: 258px;
 margin: auto;

}
#logo h1{

  font-size: 55px;
}
#select ul{
 display: flex;
 margin-left: 250px;
}
#select li{
  font-size: 12px;
  margin-left: 40px;
  list-style: none;
  color: #A0A0A0;
}
#select{
  margin: auto;
}
#kolok{
  margin: auto;
  margin-right: 30px;
}
